<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean class="com.kodnest.SpringExample.SpringProject2.JavaTeacher" id="jt"> 
   <property name="teacher_id" value="13"></property>
   <property name="teacher_name" value="Ajay"></property>
</bean>

<bean class="com.kodnest.SpringExample.SpringProject2.PythonTeacher" id="pt"> 
   <property name="teacher_id" value="14"></property>
   <property name="teacher_name" value="Amit"></property>
</bean>

<bean class="com.kodnest.SpringExample.SpringProject2.SQLTeacher" id="st"> 
   <property name="teacher_id" value="15"></property>
   <property name="teacher_name" value="Ankit"></property>
</bean>

</beans>